.button {
  cursor: pointer;

  padding: 5px 24px;

  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #fff;

  border: none;
  border-radius: 3px;
}

.disabled {
  color: #002e5c;
  opacity: 0.5;
  background: #004d99;
}

.secondary {
  color: #06c;
  text-transform: none;
  background: white;
  border: 1px solid #06c;
}

.default {
  background: #06c;
}

.red {
  background: #cc1439;
}

.default:hover {
  background: #0080ff;
}

.red:hover {
  background: #ff1a47;
}

.secondary:hover {
  background: #e5f0fa;
}

.default:active {
  background: #0059b3;
}

.secondary:active {
  background: #c9e5ff;
}

.red:active {
  background: #b31232;
}
